<div id="container"class="container">
  <div class="btn-new" (click)="openFormModal('formModal')">NEW</div>
  <div class="post-block">
    <div class="li-post" *ngFor="let post of posts">
      <div class="btn-delete" (click)="openFormModal('deleteModal', post)">DEL</div>
      <div class="btn-edit" (click)="openFormModal('formModal', post)">EDIT</div>
      <h4>{{post.title}}</h4>
      <h5>{{post.subtitle}}</h5>
    </div>
  </div>
</div>

<div id="deleteModal" class="modalDialog">
  <div>
    <a (click)="closeModal('deleteModal')" title="Close" class="close">X</a>
    <h2>Delete Item</h2>
    <p>Do you want to exclude this register?</p>
    <div class="btn-delete" (click)="closeModal('deleteModal')">NO</div>
    <div class="btn-edit" (click)="deletePost(p)">YES</div>
  </div>
</div>

<div id="formModal" class="modalDialog formDialog">
  <div>
    <a (click)="closeModal('formModal')" title="Close" class="close">X</a>
    <form #postForm="ngForm" (ngSubmit)="onSubmit(postForm)">
      <div>Title:<input required class="title-input" [ngModel]="p?.title" type="text" maxlength="40" name="title"/></div>
      <div>Subtitle:<input required [ngModel]="p?.subtitle"  type="text" maxlength="60" name="subtitle"/></div>
      <div>Content:<textarea class="content-input" rows="20" required [ngModel]="p?.comment | tagToText" name="comment"></textarea></div>
      <button type="submit" class="btn-edit"  [disabled]="!postForm.valid">SAVE</button>
      <button type="button" (click)="openDeleteModal(post)" class="btn-delete" *ngIf="p">DELETE</button>
    </form>
  </div>
</div>